<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kөrimdik - Магазин гитар</title>
    <link rel="stylesheet" href="../../wwwroot/css/style.css">
</head>
<body>
    <header class="head-main">
        <div class="navigator">
            <div class="nav-title">
                <a href="#!">Kөrimdik</a>
            </div>

            <div class="nav-kor-profile">
                <div class="nav-kor">
                    <a href=""><img src="../../wwwroot/img/kor.svg" alt="" class="nav-kor-img"></a>
                </div>

                <div class="nav-profile">
                    <a href="#!"><img src="../../wwwroot/img/prof.svg" alt="" class="nav-prof-img"></a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container-catalog">
            <div class="catalog-filters">
                <div class="catalog-filters-title">
                    Фильтры
                </div>

                <div class="catalog-filters-category">
                    <button>Категории</button>
                    <button><img class="strelka-filter" src="../../wwwroot/img/strelka-filter.svg" alt=""></button>
                </div>

                <img class="razdel-line" src="../../wwwroot/img/line-punkt.svg" alt="">

                <div class="catalog-filters-color">
                    <button>Цвет</button>
                    <button><img class="strelka-filter" src="../../wwwroot/img/strelka-filter.svg" alt=""></button>
                </div>

                <img class="razdel-line" src="../../wwwroot/img/line-punkt.svg" alt="">

                <div class="catalog-filters-price">
                    <button>Цена</button>
                    <button><img class="strelka-filter" src="../../wwwroot/img/strelka-filter.svg" alt=""></button>
                </div>

                <img class="razdel-line" src="../../wwwroot/img/line-punkt.svg" alt="">
            </div>

            <div class="catalog-main">
                <div class="catalog-main-header">
                    <div class="catalog-main-header-path-products">
                        <div class="catalog-main-header-path">
                            Home <b>/ Товары</b>
                        </div>

                        <div class="catalog-main-header-title">
                            Гитары
                        </div>
                    </div>

                    <div class="nav-search nav-search-catalog">
                            <input type="text" placeholder="Поиск" class="nav-search-input">
                            <img src="../../wwwroot/img/search.svg" alt="" class="nav-search-img">
                    </div>
                </div>
                
                <div class="catalog-main-products-menu">
                    <div class="catalog-main-list-product">
                        <div class="catalog-main-list-product-img">
                            <img src="../../wwwroot/img/img_example.svg" alt="">
                        </div>

                        <div class="catalog-main-list-product-info">
                            <div class="catalog-main-list-product-category-name">
                                <div class="catalog-main-menu-product-category">
                                    Telecaster Deluxe 
                                </div>

                                <div class="catalog-main-list-product-name">
                                    Squier paranormal troblemaker
                                </div>
                            </div>
                                
                            <div class="catalog-main-list-product-price">
                                $550
                            </div>
                        </div>
                    </div>

                    <div class="catalog-main-list-product">
                        <div class="catalog-main-list-product-img">
                            <img src="../../wwwroot/img/img_example.svg" alt="">
                        </div>

                        <div class="catalog-main-list-product-info">
                            <div class="catalog-main-list-product-category-name">
                                <div class="catalog-main-menu-product-category">
                                    Telecaster Deluxe 
                                </div>

                                <div class="catalog-main-list-product-name">
                                    Squier paranormal troblemaker
                                </div>
                            </div>
                                
                            <div class="catalog-main-list-product-price">
                                $550
                            </div>
                        </div>
                    </div>


                    <div class="catalog-main-list-product">
                        <div class="catalog-main-list-product-img">
                            <img src="../../wwwroot/img/img_example.svg" alt="">
                        </div>

                        <div class="catalog-main-list-product-info">
                            <div class="catalog-main-list-product-category-name">
                                <div class="catalog-main-menu-product-category">
                                    Telecaster Deluxe 
                                </div>

                                <div class="catalog-main-list-product-name">
                                    Squier paranormal troblemaker
                                </div>
                            </div>
                                
                            <div class="catalog-main-list-product-price">
                                $550
                            </div>
                        </div>
                    </div>
                    

                    <div class="catalog-main-list-product">
                        <div class="catalog-main-list-product-img">
                            <img src="../../wwwroot/img/img_example.svg" alt="">
                        </div>

                        <div class="catalog-main-list-product-info">
                            <div class="catalog-main-list-product-category-name">
                                <div class="catalog-main-menu-product-category">
                                    Telecaster Deluxe 
                                </div>

                                <div class="catalog-main-list-product-name">
                                    Squier paranormal troblemaker
                                </div>
                            </div>
                                
                            <div class="catalog-main-list-product-price">
                                $550
                            </div>
                        </div>
                    </div>

                    <div class="catalog-main-list-product">
                        <div class="catalog-main-list-product-img">
                            <img src="../../wwwroot/img/img_example.svg" alt="">
                        </div>

                        <div class="catalog-main-list-product-info">
                            <div class="catalog-main-list-product-category-name">
                                <div class="catalog-main-menu-product-category">
                                    Telecaster Deluxe 
                                </div>

                                <div class="catalog-main-list-product-name">
                                    Squier paranormal troblemaker
                                </div>
                            </div>
                                
                            <div class="catalog-main-list-product-price">
                                $550
                            </div>
                        </div>
                    </div>

                    <div class="catalog-main-list-product">
                        <div class="catalog-main-list-product-img">
                            <img src="../../wwwroot/img/img_example.svg" alt="">
                        </div>

                        <div class="catalog-main-list-product-info">
                            <div class="catalog-main-list-product-category-name">
                                <div class="catalog-main-menu-product-category">
                                    Telecaster Deluxe 
                                </div>

                                <div class="catalog-main-list-product-name">
                                    Squier paranormal troblemaker
                                </div>
                            </div>
                                
                            <div class="catalog-main-list-product-price">
                                $550
                            </div>
                        </div>
                    </div>
                    <div class="catalog-main-list-product">
                        <div class="catalog-main-list-product-img">
                            <img src="../../wwwroot/img/img_example.svg" alt="">
                        </div>

                        <div class="catalog-main-list-product-info">
                            <div class="catalog-main-list-product-category-name">
                                <div class="catalog-main-menu-product-category">
                                    Telecaster Deluxe 
                                </div>

                                <div class="catalog-main-list-product-name">
                                    Squier paranormal troblemaker
                                </div>
                            </div>
                                
                            <div class="catalog-main-list-product-price">
                                $550
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>